.footer {
  background-color: #000;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #ccc;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 30px;
}

.footer-contato li a {
  color: #fff;
  margin-top: 200px;
}

.footer-contato a {
  padding: 20px 40px;
  background-color: #8f8f8f;
  border-radius: 4px;
  margin-top: 200px;
}

.footer-copy {
  font-size: 1.125rem;
  color: #8f8f8f;
  grid: 1 / -1;
}

@media (max-width: 870px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato li {
    font-size: 1.5rem;
  }
}
